Source: warclient
Section: games
Priority: optional
Maintainer: Non Official Debian Warclient Maintainers <woodswolf@gmail.com>
Uploaders: Carl Castanier <woodswolf@gmail.com>
Standards-Version: 3.7.3
Build-Depends: quilt (>= 0.46), debhelper (>= 5.0.0), gettext, sharutils, libx11-dev, libxext-dev, libxmu-dev, libxt-dev, x11proto-core-dev, libgtk2.0-dev (>= 2.10.12-1), libpng12-dev, libreadline5-dev, libesd0-dev, libsdl-mixer1.2-dev, zlib1g-dev, autotools-dev, libmysqlclient-dev

Package: warclient-server
Architecture: any
Depends: ${shlibs:Depends}, warclient-data (>= 2.0.0)
Suggests: warclient-client-gtk
Conflicts: freeciv (<< 1.14.0-5), freeciv-server
Recommends: mysql-server, mysql-client
Replaces: freeciv-server
Description: Civilization turn based strategy game (server files)
 Freeciv is a free clone of the turn based strategy game Civilization.
 In this game, each player becomes leader of a civilisation, fighting to
 obtain the ultimate goal: the extinction of all other civilisations.
 .
 Warclient is modpack Freeciv that enhances the client's control
 of units and cities.  This makes control faster, which is good for
 multiplayer war games. Pepclient feature are added and enhances that.
 See http://freeciv.freeforums.org/.
 .
 This is the Freeciv game server.

Package: warclient-client-gtk
Architecture: any
Depends: ${shlibs:Depends}, warclient-data (>= 2.0.0), warclient-server  (>= 2.0.0)
Description: Civilization turn based strategy game (GTK+ client)
 Freeciv is a free clone of the turn based strategy game Civilization.
 In this game, each player becomes leader of a civilisation, fighting to
 obtain the ultimate goal: the extinction of all other civilisations.
 .
 Warclient is modpack Freeciv that enhances the client's control
 of units and cities.  This makes control faster, which is good for
 multiplayer war games. Pepclient feature are added and enhances that.
 See http://freeciv.freeforums.org/
 .
 This is the GTK+ version of the Freeciv client.

Package: warclient-data
Architecture: all
Replaces: freeciv-data
Conflicts: freeciv-data
Description: Civilization turn based strategy game (game data)
 Freeciv is a free clone of the turn based strategy game Civilization.
 In this game, each player becomes leader of a civilisation, fighting to
 obtain the ultimate goal: the extinction of all other civilisations. 
 .
 Warclient is modpack Freeciv that enhances the client's control
 of units and cities.  This makes control faster, which is good for
 multiplayer war games. Pepclient feature are added and enhances that.
 See http://freeciv.freeforums.org/
 .
 These are the common data files for Freeciv.
