[Desktop Entry]
Encoding=UTF-8
Name=Warclient
Name[ca]=Warclient
Name[es]=Warclient
Name[fr]=Warclient
Name[no]=Warclient
Name[pt]=Warclient
Comment=Civilization™-like game
Comment[ca]=Joc similar a Civilization™
Comment[es]=Juego similar a Civilization™
Comment[fr]=Jeu similaire à Civilization™
Comment[nl]=Civilization™-achtig spel
Comment[pl]=Gra strategiczna podobna do Cywilizacji™
Comment[pt]=Jogo similar ao Civilization™
Exec=warclient-gtk
Icon=warclient.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;GNOME;StrategyGame;
